body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/design1.jpg.jpg);
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-weight: 700;
    margin-top: 10px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background-color: rgba(87, 133, 133, 0.541);
    padding-top: 15px;
    border-radius: 10px;

}


#navber-text{
    font-size: 25px;
    margin-left: 10%;
    padding-bottom: 10px;
}
.button1{
    text-decoration: none;
    background-image: linear-gradient(rgba(221, 17, 51, 0.904),rgb(197, 17, 77));
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: 300;
    
}
.main-camera{
    width: 50%;
    /* margin-top: 50px; */
    padding-left: 100px;
    margin-left: 90px;

    /* position: absolute; */
    height: 414px;
    
}

.main-camera img{
    transition: transform 2s;

}

.main-camera img:hover{
  
    transform: rotate(180deg);
}






.section-one{
    display: flex;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 50px;
    margin-right: 40px;
}
.top{
    width: 50%;
    margin-left: 10%;
    padding-top: 5%;
}

.title-one{
    font-size: 40px;
    font-weight:900px;

}

.influncer{
    color: rgb(223, 107, 13);
    font-size: 45px;
}

.logos{
    display: flex;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    justify-content: center;
    justify-content:space-evenly;
    margin-top: 90px;
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.items{


    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap:40px;
    margin-right: 300px;
    margin-left: 300px;

}
.item{
    box-shadow: 10px 10px 20px gray;
    transition: 0.5s;
    width: 250px;
    height:450px;
    left: 55px;
    top: 1035px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin:8px;
    
    
    
}
.item:hover{
    background-color: rgba(88, 131, 131, 0.767);
    

}
.item img{
    width: 100%;
}
.container{
    margin-bottom: 50%;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.item-rating{
    display: flex;
    justify-content: space-between;

}
footer{
    text-align: center;
    background-color:#0a1424;
    color: white;
    height: 300px;
}   
.fab{
        color:white;
        background-color: rgba(128, 128, 128, 0.445);
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0 0 1.5px #888;
        padding: 0.5em 0.6em;
        
      
      }
      footer{
          margin-top: 200px;
      }

      .line{
          height: 200px;
          width: 250px;

      }
      .lines{
          display: flex;
          text-align: center;
          justify-content: space-around;
          margin-top: 100px;
      }

      /*-----------------
       mobile device 
       -------------------*/



    @media only screen and (max-width:576px) {
        .section-one {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            grid-template-columns: repeat(1,1fr);
            /* margin-left: 50px; */
           background-color:  rgba(97, 113, 204, 0.74);
           margin-left: 30px;
            
        }
        .main-camera img{
            height: 300px;
            width: 100%;
            padding-top: 100px;
            margin-right: 150px;
            margin-left: -80px;
            justify-content: center;

        }
        .logos{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding-left: 40px;

        }
        body{
            margin-left: 0;
        }
        nav a{
            display: none;
        }
        .top{
            margin-left: 70px;
        }
        .container{
            width: 100%;
        }
        .items{
            grid-template-columns: repeat(1,1fr);
            background-color: lawngreen;
          

        }
        
        .item{
            margin-right: 150px;
            flex-direction: column;
            justify-content: center;
            width: 180px;
            height: 400px;

        }
        .lines { 
            display: grid;
            grid-template-columns: repeat(1,1fr);
            font-size: 12px;
            padding-left: 81px;
            margin-left: 100px;
            width: 100px;
        }
        footer{
            margin-left: 50px;
        }
    }

    /* --------------------
          tablet devices
    ---------------------- */

   
    
  @media only screen and (min-width:576px) and (max-width:992px)  {
      .container{
          background-color: rgba(255, 166, 0, 0.582);
      }
      
      .section-one{
          padding-left: 12%;

      }
      .logos{
          padding-left: 10%;
      }
      .main-camera img{
        height: 300px;
        width: 100%;
        padding-top: 100px;
        margin-right: 150px;
        margin-left: -80px;
        justify-content: center;


      }
      .container{
          width: 100%;
      }
      .items, .lines{
        grid-template-columns: repeat(2,1fr);
        padding-left: 150px;

      } 
    
} 